DATABASE_URL=libsql://codefeedstudy-alokraj.aws-ap-south-1.turso.io
DATABASE_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3Nzk4NzIxMTAsImlkIjoiMDE5ZTY4YTQtNTcwMS03Yzg5LWJjMzgtYzkzOGNhMWYzZGE2IiwicmlkIjoiNWM5YzE2YTctOTA4YS00MjJiLTgyY2ItYjEyMGJjM2FmYWVhIn0.mMyH8XCHKo0Ccw8dR1JdIIxV7mn_0Ww94x3S7EhOPxR1yR_7rR9hmKDp2J6LnzY173JmE40iSod9fEuCghQpBw
